@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

.containercadcliente {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  background: white;
}

.new {
  font-size: 12px;
  padding: 10px 10px;
  margin-left: 0%;
  margin-bottom: 1%;
  border-radius: 3px;
  border: none;
  color: white;
  background-color: rgb(57, 57, 226);
}
#home{
  margin-left: 1%;
  padding: 10px 35px 10px;
}

.divTable {
  padding: 10px;
  width: auto;
  height: inherit;
  overflow: auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke;
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray;
}

table {
  font-size: 12px;
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: whitesmoke;
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr:nth-child(even) {
  background-color: #e3e5fa; /* Cor azul clarinha */
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
}


thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

@media (max-width: 767px) {
  
    .containercadastrocliente {
    text-align: center;
  }
  
  .buttons-container {
    display: inline-block;
    margin-bottom: 20px; /* Espaçamento entre os botões e a tabela */
  }
  
  .new {
    margin: 0 2px; /* Espaçamento entre os botões */
  }
  /* Estilo para os títulos da tabela */
  .divTable th {
    display: none;
  }

  /* Estilo para as células da tabela */
  .divTable td {
    white-space: nowrap; /* Evita que o texto quebre para a próxima linha */
    overflow: hidden; /* Oculta o conteúdo que não couber na célula */
    text-overflow: ellipsis; /* Exibe reticências (...) quando o conteúdo for cortado */
    width: auto; /* Ajusta dinamicamente o tamanho da célula conforme o conteúdo */
    max-width: 100px; /* Define um tamanho mínimo para evitar que células vazias fiquem muito pequenas */
    font-size: 120%;
    
  }

  /* Estilo para as células da tabela quando em tamanho de dispositivo móvel */
  tbody td {
    display: flex;
    text-align: left; /* Ajuste conforme necessário */
    border: none; /* Remova as bordas das células */
    
  }


}




.modalcadcliente-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modalcadcliente {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
  font-size: 18px;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
}

.modalcadcliente label {
  font-size: 14px;
  width: 100%;
}

.modalcadcliente input {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modalcadcliente button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: rgb(57, 57, 226);
  color: white;
}

.active {
  display: flex;
}

.active .modalcadcliente {
  animation: modal .4s;
}

.modal-label {
  font-size: 14px;
  width: 100%;
  margin-bottom: 5px; /* Adjust as needed */
}

.modal-input {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  margin-bottom: 10px; /* Adjust as needed */
  border-top: none;
  border-left: none;
  border-right: none;
}


/* Adicionado estilo para tornar o conteúdo mais responsivo */


@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px;
}

td button i:first-child {
  margin-right: 10px;
}
