.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 998;
}

.popup {
  position: fixed;
  top: -15px;
  left: 50%;
  transform: translate(-60%, 0);
  max-width: calc(100% - 100px);
  width: 60%;
  padding: 0;
  /* Removido o padding para que a imagem de fundo preencha completamente */
  margin: 50px;
  background:  #ffffff;
  /*background: linear-gradient(to bottom, #ffffff 35%, #e9e7e7 35%);*/
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  z-index: 999;
  overflow: hidden;
}

.popup-title {
  position: relative;
  margin: 15px 25px -15px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

/* Estilo para a linha cinza no início */
.grey-line {
  border-top: 2px solid #ccc;
  /* Ajuste a grossura conforme necessário */
  margin-bottom: 10px;
  /* Ajuste a posição da linha conforme necessário */
}

.popup-content {
  margin-top: -10px;
  padding: 0px 30px 20px ;
}

@media (max-width: 767px) {
  .popup {
    max-width: calc(100% - 20px);
    margin: 20px;
  }
}

.popup * {
  font-size: 20px;
  border: none;
  outline: none;
  width: auto;
}

.popup input:focus {
  border: 2px solid #ff0000;
}

.popup-content label {
  color: #555;
  /* Cor desejada para o texto dos labels no conteúdo */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.fechar {
  cursor: pointer;
  font-size: 18px;
  color: #333;
  /* Cor do texto preta */
  position: absolute;
  top: 10px;
  /* Escolha a posição do topo conforme necessário */
  right: 20px;
  /* Escolha a posição da direita conforme necessário */
}

.fechar:hover {
  color: #ff0000;
}

.IDclass {
  width: 50px;
}